/* Style for the grid blocks */
.picture-holder {
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Regular shadow */
    transition: box-shadow 0.2s ease, transform 0.2s ease; /* Smooth transition */
}

.picture-holder:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Hover effect shadow */
}

.picture-holder:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for "pressed" effect */
    transform: translateY(2px);
}


/* Grid layout (3x3) */
.picture-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.apartment {
    max-width: 60%;
    max-height: 60%;
}

.picture-holder {
      position: relative;
    }

.apartment {
  width: 100%;
}

.survivor {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50%; /* Adjust as needed */
}

/* Add custom styles for the status display */
.status-display {
  margin-top: 20px;
}

.status-display div {
  margin-bottom: 10px;
}
